$blanco: #FFF;
$negro: #111;
$naranja: #F39402;
$azul: #0E71B4;
$verde: #b2dd39;
$amarillo: #FDED01;
$cian: #39B2DD;
$gris: #939393;
$gris-claro: #f9f9f9;

$opacity: 0.5;

$negro-transparente: rgba($negro, $opacity);

$fuente-sansita: "Sansita", sans-serif;
$fuente-lato: "Lato", sans-serif;
$fuente-dosis: "Dosis", sans-serif;
$fuente-franklin: "Libre Franklin", sans-serif;
$fuente-josefin: "Josefin Sans", sans-serif;

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.img-center {
    margin: 0 auto;
}

.height-100 {
    min-height: 100%;
}