// VARIABLES GLOBALES
$blanco: #FFF;
$negro: #111;
$naranja: #F39402;
$azul: #0E71B4;
$verde: #98C10F;
$amarillo: #FDED01;

$opacity: 0.5;

$negro-transparente: rgba($negro, $opacity);

$fuente-titulo: "Sansita", sans-serif;
$fuente-texto: "Lato", sans-serif;

$border-radius-pequenio: 5px;
$border-radius-grande: 10px;

$border-delgado: 1px;
$border-grueso: 3px;

$color-texto: $negro;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $fuente-texto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fuente-titulo;
}

h1, h2, h3, h4, h5, h6, p, label, li {
    color: $color-texto;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.img-center {
    margin: 0 auto;
}

.btn-primary.btn-resiliencia {
    background-color: $amarillo;
    color: $negro;

    border-top: 2px solid $negro;
    border-bottom: 2px solid $negro;
    border-left: 2px solid $negro;
    border-right: 2px solid $negro;

    border-radius: 5px 5px 5px 5px;

    &:hover, &:active {
        background-color: $naranja;
        -webkit-transition: background-color .5s;
        transition: background-color .5s;
    }
}

.btn-default.btn-resiliencia {
    background-color: $blanco;
    color: $negro;

    border-top: 2px solid #888888;
    border-bottom: 2px solid #888888;
    border-left: 2px solid #888888;
    border-right: 2px solid #888888;

    border-radius: 5px 5px 5px 5px;

    &:hover, &:active {
        background-color: #D5D5D5;
        -webkit-transition: background-color .5s;
        transition: background-color .5s;
    }
}