$color-fondo-mensaje-busqueda: $color-5;
$padding-mensaje-busqueda: 5px 15px 5px 15px;
$margin-left-mensaje-busqueda: -15px;
$margin-right-mensaje-busqueda: -15px;
$border-radius-mensaje-busqueda: $border-radius-grande;

.mensaje-busqueda {
    background-color: $color-fondo-mensaje-busqueda;
    
    border-radius: $border-radius-mensaje-busqueda;
    
    padding: $padding-mensaje-busqueda;
    margin-left: $margin-left-mensaje-busqueda;
    margin-right: $margin-right-mensaje-busqueda;
}