$color-fondo-destacados: $color-2;
$color-titulo-destacados: $color-3;
$item-padding-destacados: 5px;
$height-destacados: 400px;

.destacados {
    background-color: $color-fondo-destacados;

    .item {
        padding: $item-padding-destacados;
    }

    .imagen-item {
        min-height: $height-destacados;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
    }

    @media (max-width: 768px) {
        .imagen-item {
            background-position: center center;
        }
    }

    .contenido-item {
        min-height: $height-destacados;
        display: table;
        div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .descripcion {
        max-height: 100px;
        display: block !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-titulo-destacados;
    }

    .carousel-control {
        .icon-prev, .icon-next {
            font-size: 100px;
            margin-top: -50px;
        }
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}