$color-fondo-evento: $color-2;
$color-border-evento: $color-5;

$padding-top-evento: 15px;
$padding-bottom-evento: 15px;

$margin-top-evento: 10px;
$margin-bottom-evento: 10px;

$color-titulo-evento: $color-3;

.evento {
    background-color: $color-fondo-evento;
    
    border: $border-grueso $color-border-evento solid;
    border-radius: $border-radius-grande;
    
    padding-top: $padding-top-evento;
    padding-bottom: $padding-bottom-evento;
    
    margin-top: $margin-top-evento;
    margin-bottom: $margin-bottom-evento;
    
    h1, h2, h3, h4, h5, h6 {
        color: $color-titulo-evento;
    }
}