$color-fondo-titulo: $color-2;
$color-texto-titulo: $color-3;

$padding-top-header: 40px;
$padding-bottom-header: 20px;

.header {
    background-color: $color-fondo-titulo;
    color: $color-texto-titulo;
    
    margin: 0;
    padding-top: $padding-top-header;
    padding-bottom: $padding-bottom-header;
    
    h1 {
        color: $color-texto-titulo;
    }
}