$dropDown       : true;
.navbar-default {
    font-size: 18px;
    font-family: $fuente-josefin;
    background-color: $blanco;
    border-left: 0;
    border-right: 0;
    border-color: $cian;
    border-radius: 0;
    .navbar-brand {
        font-size: 18px;
        color: $cian;
        &:hover, &:focus {
            color: $negro; 
        }
    }
    .navbar-text {
        color: $cian; 
    }
    .navbar-nav {
        > li {
            > a {
                color: $cian;
                &:hover,  &:focus {
                    color: $blanco; 
                    background-color: $cian;
                }
            }
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $blanco;
                    > li {
                        > a {
                            color: $cian;
                            &:hover,  &:focus {
                                color: $negro;
                                background-color: $cian; 
                            }
                        }
                        > .divider {
                            background-color: $cian;
                        }
                    }
                }
            }
        }
        @if $dropDown {
            .open .dropdown-menu > .active {
                > a, > a:hover, > a:focus {
                    color: $blanco;
                    background-color: $cian; 
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $blanco;
                background-color: $cian; 
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $blanco;
                background-color: $cian; 
            }
        }
    }
    .navbar-toggle {
        border-color: $cian;
        &:hover, &:focus {
            background-color: $cian; 
            color: $blanco;
            .icon-bar {
                background-color: $cian;
                color: $blanco;
            }
        }
        .icon-bar {
            background-color: $cian;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $cian; 
    }
    .navbar-link {
        color: $cian;
        &:hover {
            color: $negro; 
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        font-family: $fuente-josefin;
        > li > a {
            color: $cian;
            &:hover, &:focus {
                color: $negro; 
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $negro;
                background-color: $cian; 
            }
        }
    }
}