$color-fondo-menu: $negro-transparente;
$color-fondo-menu-resaltado: $amarillo;
$color-texto-menu: $blanco;
$color-texto-menu-resaltado: $negro;

.navbar-default {
    background-color: $color-fondo-menu;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-color: $color-fondo-menu;
    
    .navbar-brand {
        color: $color-texto-menu;
        &:hover, &:focus {
            color: $color-texto-menu-resaltado;
            background-color: $color-fondo-menu-resaltado;
        }
    }
    .navbar-nav {
        > li {
            > a {
                color: $color-texto-menu;
                &:hover, &:focus {
                    color: $color-texto-menu-resaltado;
                    background-color: $color-fondo-menu-resaltado;
                }
            }
        }
        .active {
            > a, > a:hover, > a:focus {
                color: $color-texto-menu-resaltado;
                background-color: $color-fondo-menu-resaltado; 
            }
        }
        .open {
            > a, > a:hover, > a:focus {
                color: $color-texto-menu-resaltado;
                background-color: $color-fondo-menu-resaltado;
                .caret {
                    border-top-color: $color-texto-menu-resaltado;
                    border-bottom-color: $color-texto-menu-resaltado; 
                }
            }
        }
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $color-texto-menu;
                    border-bottom-color: $color-texto-menu; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $color-texto-menu-resaltado;
                        border-bottom-color: $color-texto-menu-resaltado; 
                    }
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $color-fondo-menu-resaltado;
        &:hover, &:focus {
            background-color: $color-fondo-menu;
        }
        .icon-bar {
            background-color: $color-texto-menu;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $color-texto-menu;
        &:hover, &:focus {
            color: $color-texto-menu-resaltado;
            background-color: $color-fondo-menu-resaltado; 
        }
    }
}