$color-fondo-seccion: $color-2;
$color-titulo-seccion: $color-3;
$margin-top-seccion: 20px;
$margin-bottom-seccion: 20px;
$padding-seccion: 10px 10px 30px 10px;
$border-seccion: $border-grueso;
$border-radius-seccion: $border-radius-grande;
$color-border-seccion: $color-5;

$padding-publicacion: 5px;
$margin-bottom-publicacion: 10px;
$color-fondo-publicacion: $color-5;
$border-radius-publicacion: $border-radius-pequenio;
$color-label-publicacion: $color-0;

.seccion {
    background-color: $color-fondo-seccion;

    margin-top: $margin-top-seccion;
    margin-bottom: $margin-bottom-seccion;
    padding: $padding-seccion;

    border: $border-seccion $color-border-seccion solid;
    border-radius: $border-radius-seccion;
    -moz-border-radius: $border-radius-seccion;
    -webkit-border-radius: $border-radius-seccion;

    h1, h2, h3, h4, h5, h6 {
        color: $color-titulo-seccion;
    }

    .publicacion {
        background-color: $color-fondo-publicacion;
        
        border-radius: $border-radius-pequenio;
        -moz-border-radius: $border-radius-pequenio;
        -webkit-border-radius: $border-radius-pequenio;
        
        padding: $padding-publicacion;
        margin-bottom: $margin-bottom-publicacion;
        
        label {
            color: $color-label-publicacion;
        }
    }
}