/* 
    Author     : Jose
*/
html, body {
  height: 100%;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Sansita", sans-serif; }

h1, h2, h3, h4, h5, h6, p, label, li {
  color: #111; }

.vertical-center {
  display: table-cell;
  vertical-align: middle; }

.img-center {
  margin: 0 auto; }

.header {
  background-color: #E5DAD5;
  color: #743340;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px; }
  .header h1 {
    color: #743340; }

.navbar-default {
  background-color: #BFA07D;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-color: #111; }
  .navbar-default .navbar-brand {
    color: #111; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #FFF;
      background-color: #111; }
  .navbar-default .navbar-nav > li > a {
    color: #111; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #FFF;
      background-color: #111; }
  .navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #FFF;
    background-color: #111; }
  .navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #FFF;
    background-color: #111; }
    .navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
      border-top-color: #FFF;
      border-bottom-color: #FFF; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #111;
    border-bottom-color: #111; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF; }
  .navbar-default .navbar-toggle {
    border-color: #111; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #BFA07D; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #111; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #111; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #FFF;
      background-color: #111; } }
body {
  background-color: #565656; }

.mensaje-busqueda {
  background-color: #BFA07D;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin-left: -15px;
  margin-right: -15px; }

.seccion {
  background-color: #E5DAD5;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 10px 10px 30px 10px;
  border: 3px #BFA07D solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .seccion h1, .seccion h2, .seccion h3, .seccion h4, .seccion h5, .seccion h6 {
    color: #743340; }
  .seccion .publicacion {
    background-color: #BFA07D;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px; }
    .seccion .publicacion label {
      color: #111; }

.footer {
  padding-top: 50px; }
  .footer p {
    color: #FFF; }

.publicacion {
  background-color: #E5DAD5;
  border: 3px #BFA07D solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .publicacion h1, .publicacion h2, .publicacion h3, .publicacion h4, .publicacion h5, .publicacion h6 {
    color: #743340; }

.evento {
  background-color: #E5DAD5;
  border: 3px #BFA07D solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .evento h1, .evento h2, .evento h3, .evento h4, .evento h5, .evento h6 {
    color: #743340; }

.login {
  background-color: #E5DAD5;
  border: 3px #BFA07D solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .login h1, .login h2, .login h3, .login h4, .login h5, .login h6 {
    color: #743340; }

@media (min-width: 768px) {
  .login {
    margin-left: 30%;
    margin-right: 30%; } }
.contenido {
  background-color: #E5DAD5;
  border: 3px #BFA07D solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .contenido h1, .contenido h2, .contenido h3, .contenido h4, .contenido h5, .contenido h6 {
    color: #743340; }

.table {
  border: 1px #743340 solid; }
  .table thead {
    border: 1px #743340 solid; }
    .table thead tr th {
      border: 1px #743340 solid;
      color: #743340; }
  .table tbody {
    border: 1px #743340 solid; }
    .table tbody tr td {
      border: 1px #743340 solid; }

.destacados {
  background-color: #E5DAD5; }
  .destacados .item {
    padding: 5px; }
  .destacados .imagen-item {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain; }
  @media (max-width: 768px) {
    .destacados .imagen-item {
      background-position: center center; } }
  .destacados .contenido-item {
    min-height: 400px;
    display: table; }
    .destacados .contenido-item div {
      display: table-cell;
      vertical-align: middle; }
  .destacados .descripcion_evento {
    height: 100px;
    max-height: 100px;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis; }
  .destacados h1, .destacados h2, .destacados h3, .destacados h4, .destacados h5, .destacados h6 {
    color: #743340; }
  .destacados .carousel-control .icon-prev, .destacados .carousel-control .icon-next {
    font-size: 100px;
    margin-top: -50px; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

/*# sourceMappingURL=red_resiliencia.css.map */
