/* Author     : Jose */
html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.img-center {
  margin: 0 auto; }

.height-100 {
  min-height: 100%; }

.btn-redondo {
  border-radius: 50% 50% 50% 50%; }

.header {
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif; }
  .header .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .header .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .header .social {
    padding-top: 75px;
    padding-bottom: 20px; }
    .header .social img {
      width: 25px;
      height: 25px; }
  @media (max-width: 767px) {
    .header .titulo {
      padding-top: 20px;
      padding-bottom: 10px; }
      .header .titulo h1 {
        font-size: 30px;
        margin: 0; }
    .header .social {
      padding-top: 10px;
      padding-bottom: 20px; }
      .header .social img {
        width: 25px;
        height: 25px; } }

.destacados {
  background-color: #39B2DD; }
  .destacados .item {
    padding: 5px; }
  .destacados .imagen-item {
    height: 400px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain; }
  @media (max-width: 767px) {
    .destacados .imagen-item {
      background-position: center center; } }
  .destacados .contenido-item {
    height: 400px;
    display: table;
    vertical-align: middle !important; }
    .destacados .contenido-item div {
      display: table-cell;
      vertical-align: middle; }
  .destacados .descripcion {
    max-height: 100px;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis; }
  .destacados p, .destacados li, .destacados strong, .destacados label {
    color: #FFF; }
  .destacados h1, .destacados h2, .destacados h3, .destacados h4, .destacados h5, .destacados h6 {
    color: #FFF; }
  .destacados .carousel-control .icon-prev, .destacados .carousel-control .icon-next {
    font-size: 100px;
    margin-top: -50px; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

section {
  font-family: "Josefin Sans", sans-serif; }
  section .titulo h1 {
    margin: 0; }
  section .acciones {
    padding: 20px; }

.navbar-default {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #FFF;
  border-left: 0;
  border-right: 0;
  border-color: #39B2DD;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    font-size: 18px;
    color: #39B2DD; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #111; }
  .navbar-default .navbar-text {
    color: #39B2DD; }
  .navbar-default .navbar-nav > li > a {
    color: #39B2DD; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #FFF;
      background-color: #39B2DD; }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #FFF; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
      color: #39B2DD; }
      .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #111;
        background-color: #39B2DD; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
      background-color: #39B2DD; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFF;
    background-color: #39B2DD; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #39B2DD; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #39B2DD; }
  .navbar-default .navbar-toggle {
    border-color: #39B2DD; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #39B2DD;
      color: #FFF; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #39B2DD;
        color: #FFF; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #39B2DD; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #39B2DD; }
  .navbar-default .navbar-link {
    color: #39B2DD; }
    .navbar-default .navbar-link:hover {
      color: #111; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    font-family: "Josefin Sans", sans-serif; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #39B2DD; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #111; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #111;
      background-color: #39B2DD; } }
.publicacion {
  font-family: "Josefin Sans", sans-serif; }
  .publicacion .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .publicacion .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .publicacion .contenido .titulo-publicacion {
    color: #b2dd39; }
  .publicacion .contenido .imagen {
    max-height: 500px; }
  .publicacion .contenido .subtitulo {
    color: #b2dd39; }

.publicaciones {
  font-family: "Josefin Sans", sans-serif; }
  .publicaciones .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .publicaciones .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .publicaciones .titulo-publicaciones h1 {
    margin: 0; }
  .publicaciones .contenido .items {
    background-color: #f9f9f9; }
    .publicaciones .contenido .items .item {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #FFF;
      -webkit-box-shadow: 1px 1px 2px 0 #939393;
      -moz-box-shadow: 1px 1px 2px 0 #939393;
      box-shadow: 1px 1px 2px 0 #939393; }
      .publicaciones .contenido .items .item .img-item {
        height: 250px;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important; }
      .publicaciones .contenido .items .item .nombre {
        color: #39B2DD; }
      .publicaciones .contenido .items .item:hover {
        -webkit-transform: scale(1.02);
        /* Efecto de zoom */
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -webkit-transition: 0.2s;
        /* Trancisiones */
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s; }
  .publicaciones .acciones {
    padding: 20px; }

.articulo {
  font-family: "Josefin Sans", sans-serif; }
  .articulo .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .articulo .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .articulo .contenido .titulo-articulo {
    color: #b2dd39; }

.articulos {
  font-family: "Josefin Sans", sans-serif; }
  .articulos .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .articulos .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .articulos .titulo-articulos h1 {
    margin: 0; }
  .articulos .contenido .items {
    background-color: #f9f9f9; }
    .articulos .contenido .items .item {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #FFF; }
      .articulos .contenido .items .item .img-item {
        height: 200px;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important; }
        @media (min-width: 1200) {
          .articulos .contenido .items .item .img-item {
            height: 250px; } }
      .articulos .contenido .items .item .titulo-item {
        color: #b2dd39; }
  .articulos .acciones {
    padding: 20px; }

.contenido-mce {
  font-family: "Josefin Sans", sans-serif; }

.evento {
  font-family: "Josefin Sans", sans-serif; }
  .evento .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .evento .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .evento .contenido .titulo-evento {
    color: #b2dd39; }
  .evento .contenido .img-evento {
    max-height: 400px; }
  .evento .contenido .subtitulo {
    color: #b2dd39; }

.eventos {
  font-family: "Josefin Sans", sans-serif; }
  .eventos .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .eventos .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .eventos .titulo-eventos h1 {
    margin: 0; }
  .eventos .contenido .items {
    background-color: #f9f9f9; }
    .eventos .contenido .items .item {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #FFF;
      -webkit-box-shadow: 1px 1px 2px 0 #939393;
      -moz-box-shadow: 1px 1px 2px 0 #939393;
      box-shadow: 1px 1px 2px 0 #939393; }
      .eventos .contenido .items .item .img-item {
        height: 250px;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important; }
      .eventos .contenido .items .item .titulo-item {
        color: #39B2DD; }
      .eventos .contenido .items .item:hover {
        -webkit-transform: scale(1.02);
        /* Efecto de zoom */
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -webkit-transition: 0.2s;
        /* Trancisiones */
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s; }
  .eventos .acciones {
    padding: 20px; }

.herramienta {
  font-family: "Josefin Sans", sans-serif; }
  .herramienta .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .herramienta .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .herramienta .contenido .titulo-herramienta {
    color: #b2dd39; }
  .herramienta .contenido .imagen {
    max-height: 500px; }
  .herramienta .contenido .subtitulo {
    color: #b2dd39; }

.herramientas {
  font-family: "Josefin Sans", sans-serif; }
  .herramientas .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .herramientas .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .herramientas .titulo-herramientas h1 {
    margin: 0; }
  .herramientas .contenido .items {
    background-color: #f9f9f9; }
    .herramientas .contenido .items .item {
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #FFF;
      -webkit-box-shadow: 1px 1px 2px 0 #939393;
      -moz-box-shadow: 1px 1px 2px 0 #939393;
      box-shadow: 1px 1px 2px 0 #939393; }
      .herramientas .contenido .items .item .img-item {
        height: 250px;
        background-position: center center !important;
        background-repeat: no-repeat;
        background-size: cover !important; }
      .herramientas .contenido .items .item .nombre {
        color: #39B2DD; }
      .herramientas .contenido .items .item:hover {
        -webkit-transform: scale(1.02);
        /* Efecto de zoom */
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -webkit-transition: 0.2s;
        /* Trancisiones */
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s; }
  .herramientas .acciones {
    padding: 20px; }

.pagina {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100%; }
  .pagina .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .pagina .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .pagina .titulo-pagina h1 {
    margin: 0; }
  .pagina .contenido .imagen {
    max-height: 500px; }
  .pagina .contenido .subtitulo {
    color: #b2dd39; }

.login {
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif; }
  .login .titulo {
    padding-top: 50px;
    padding-bottom: 20px; }
    .login .titulo h1 {
      font-size: 50px;
      margin: 0; }
  .login .contenido .titulo-login h1 {
    margin: 0; }

.social {
  height: 80px; }
  .social a {
    margin-left: 5px; }

/*# sourceMappingURL=red_resiliencia.css.map */
